{% extends 'calculator/base.html' %} {% block content %}

<div class="content">
 <div class="calc_wrapper">
    <form class="url_form" action="" method="post">

        <h2 class="title_h2">Розрахувати за посиланням:</h2>
        <input
        type="text"
        name="url"
        class="input_url"
        placeholder="https://www.copart.com/lot/50811178"
        required
        />
        <button type="submit" id="scan" class="but_submit">СКАНУВАТИ</button>
        {% csrf_token %}
    </form>

    <form action="" class="calc_form" method="post">
        <h2 class="title_h2">Розрахувати самостійно:</h2>
            <table class="form_group fw-light">
                {% csrf_token %} 
                {{ input_form.as_table }}
            </table>
        <button type="submit" class="but_submit calc_but">РОЗРАХУВАТИ</button>
    </form>
 </div>

 <div class="res_wrapper">
    <form class="res_form">
        <h2 class="title_h2">Результат розрахунку $:</h2>
        <table class="form_group fw-light">
            {% csrf_token %} 
            {{ res_form.as_table }}
        </table>
    </form>
</div>
</div>

{% endblock content %}
